/* 
    Document   : ${name}
    Created on : ${date}, ${time}
    Author     : ${user}
    Description:
        Purpose of the stylesheet follows.
*/
 
/* html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark
*/
@font-face {
    font-family: HelveticaNeueThin; /* Имя шрифта */
    src: url(../fonts/HelveticaNeueCyr-Thin.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: HelveticaNeueL; /* Имя шрифта */
    src: url(../fonts/HelveticaNeueCyr-Light.otf); /* Путь к файлу со шрифтом */
   }
   
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
 
/* Minimal base styles
More Info: https://github.com/paulirish/html5-boilerplate/blob/362d0b7/css/style.css
*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-y:scroll}
a:link{-webkit-tap-highlight-color:#FF5E99}
a:hover,a:active{outline:none}
a,a:active,a:visited{color:#607890}
a:hover{color:#036}
ul,ol{margin-left:2em}
ol{list-style-type:decimal}
nav ul,nav li{list-style:none;list-style-image:none;margin:0}
small{font-size:85%}
b,strong,th{font-weight:700}
td{vertical-align:top}
sub,sup{font-size:75%;line-height:0;position:relative}
sup{top:-.5em}
sub{bottom:-.25em}
pre{padding:15px;white-space:pre-wrap;word-wrap:break-word}
.ie6 legend,.ie7 legend{margin-left:-7px}
button,input,select,textarea{font-family:sans-serif;font-size:100%;margin:0;overflow:visible;vertical-align:baseline;width:auto}
textarea{overflow:auto;vertical-align:text-top}
label,input[type=button],input[type=submit],input[type=image],button{cursor:pointer}
input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0}
input:invalid,textarea:invalid{-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;border-radius:1px;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}
.ie7 img{-ms-interpolation-mode:bicubic}
 
/* ------------------------- Backgrounds */
/*body {background:url("../images/im_bg.gif") left top repeat;}*/
 
/* ------------------------- Generic */
body {
    /*color:#ffffff;*/
}
.clear {clear:both;}
img { /* Needed for mobile */
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}
 
/* ------------------------- Typography */
strong {font-weight:bold;}
p {}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
address {}
pre, code {font-family: monospace;}
 
/* Links */
a, a:visited, a:active {}
a:hover {}
 
/* ------------------------- Forms */
input {}
select {}
label {}
 
/* ------------------------- Lists */
 
/* ------------------------- Layout */
.page{
	background:url('../images/splash.jpg')no-repeat bottom center;
	background-size: 100%;
	
}
.page.about{
	background:url(../images/about-bg.png)no-repeat 0px 100px;
}
 .top{
	width:100%;
	height:90px;
	box-shadow:0px 0px 10px rgba(81,88,182,0.5);
background:#5881c2;
position:fixed;
left:0px;
top:0px;	
z-index:999;
 }
 .wrap{
	
	margin:0px auto;
	position:relative;
 }
 .navbar-nav{
	margin-top: 12px;
margin-left: 75px;
 }
 .navbar-default{
	background:transparent;
	border-color:transparent;
 }
 .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color:#fff;
 }
 .navbar-default .navbar-nav>li>a{
	color:#fff;
	font-size:15px;
	font-family:'Arial', sans-serif;
 }
 .navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background:#5881c2;
 }
.header-phone{
	display:inline-block;
	text-align:right;
	position:relative;
	float:right;
	margin-right:20px;
	font-size:18px;
	color:#fff;
	font-family: HelveticaNeueThin;
	position:relative;
	top:25px;
}
 .slider{
	position:relative;
	margin-top: 90px;
 }
 /* Carousel base class */
.carousel {
  height: auto;
  margin-bottom: 60px;
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.carousel-caption {
position: absolute;
 left:0px; 
 
}
.carousel-caption h1{
	font-size:150px;
	color:#00327d;
	font-family: HelveticaNeueThin;
}
.carousel-caption p{
	color:#4b7de1;
	font-size:35px;
	font-family: HelveticaNeueThin;
}
.carousel-control.left{
	background:url(../images/arrow-left.png)no-repeat center center;
	
}
.carousel-control.right{
	background:url(../images/arrow-right.png)no-repeat center center;
	
}
.carousel:hover .carousel-control.left{
`	display:block;
}
/*content*/
section.wmu{
	background:#fff url(../images/shadow-wmu.png)no-repeat center bottom;
	padding-bottom:40px;
}
.wmu {
	margin-bottom:60px;
	position:relative;
}
.wmu:after{
	content:'';
	display:table;
	clear:both;
}
.wmu h2{
	color:#4780d4;
	font-size:30px;
	text-align:center;
	text-transform:uppercase;
	font-family: HelveticaNeueThin;
	margin-bottom:20px;
}
.wmu-item{
	padding-bottom:20px;
	position:relative;
}
.wmu-item.left{
	float:left;
	padding-right: 164px;
	background:url(../images/arrow-wmu.png)no-repeat 115px 0px;
}
.wmu-item.right{
	float:left;
}
.wmu-iwrap{
	float:left;
	width:117px;
	height:117px;
	overflow:hidden;
	border:3px solid #b9c8ff;
	border-radius:100%;
}
.wmu-iwrap:hover{
	border:3px solid #4b7de1;
}
.w-text{
	position:absolute;
	text-align:center;
	bottom:0px;
	width:215px;
	margin-left: -50px;
}
.w-text a{
display:block;
	text-decoration:none;
	color:#4881d4;
	font-size:14px;
	font-family:'Arial', sans-serif;
}
.plain{
	padding-bottom:120px;
}
.p-wrap {
margin-left: -35px;
margin-right: -35px;
}
.plain h2{
	color:#4780d4;
	font-size:30px;
	text-align:center;
	text-transform:uppercase;
	font-family: HelveticaNeueThin;
	margin-bottom:50px;
}
.p-item-block{
	float:left;
	width:270px;
	margin: 0px 35px 30px;
	box-shadow:0px 0px 10px rgba(81,88,182,0.5);
}
.p-item-sh{
	background:url(../images/mat-glass.png)no-repeat;
	/*box-shadow:0px 0px 10px rgba(81,88,182,0.5);*/
	min-height:417px;
}
.p-item-head{
	background:url(../images/s-shadow.png)no-repeat center bottom;
	padding-bottom:30px;
	padding-top:30px;
}
.p-item-head h3{
	color:#00327d;
	font-size:24px;
	text-transform:uppercase;
	text-align:center;
	font-family:'Arial', sans-serif;
}
.p-item-head p{
	color:#00327d;
	font-size:18px;
	text-align:center;
	font-family:'Arial', sans-serif;
}
.p-item-inner{
	color:#4b7de1;
	font-size:18px;
	padding-left:35px;
	padding-right:30px;
	
}
.p-item-inner ul {
	margin:0px;
	padding:0px;
	margin-left: 20px;
}
.p-item-inner ul li{
	line-height:20px;
	padding:10px 0px;
}
.p-item-f{
	width:270px;
	background:url(../images/p-item-f.png)no-repeat;
	border:3px solid #4b7de1;
	height:63px;
	color:#fff;
	text-align:center;
	font-size:18px;
	text-transform:uppercase;
	padding-top: 5px;
	font-family:'Arial', sans-serif;
	
}
.p-item-f span{
	line-height: 50px;
}
/* PLANS PAGE */
.plans-wrap{
	margin-top:90px;
	padding-top:30px;
}
.plans-wrap h2, .service-wrap h2{
	color:#4780d4;
	font-size:30px;
	text-align:center;
	text-transform:uppercase;
	font-family: HelveticaNeueThin;
	margin-bottom:50px;
	position:relative;
}
.plans-wrap h2:before, .service-wrap h2:before {  
    content: "";  
    display: block;  
    border-top: solid 2px #4780d4;  
    width: 100%;  
    height: 2px;  
    position: absolute;  
    top: 50%;  
    z-index: 1;  
}  
.plans-wrap h2 span,.service-wrap h2 span{
	background:#fff;
	display:inline-block;
	padding: 0 20px;  
    position: relative;  
    z-index: 5; 
}
.p-content{
	margin-top:20px;
	box-shadow:0px 0px 10px rgba(81,88,182,0.5);
	background:url(../images/big-glass.png)repeat-x bottom center;
	min-height:600px;
}
.p-row{
	margin-bottom:15px;
	box-shadow:0px 5px 5px rgba(81,88,182,0.2);
}
.p-row:after{
	content:'';
	display:table;
	clear:both;
}
.col-p-left{
	width:21.8%;
	float:left;
	box-shadow: 3px 5px 10px rgba(81,88,182,0.2);
	background:#fff;
}
.p-title{
	padding-left:30px;
	color:#4780d4;
	font-size:30px;
	padding-top: 10px;
}
.p-bottom{
	width:100%;
	background:url(../images/p-item-f.png)no-repeat;
	border:3px solid #4b7de1;
	height:63px;
	color:#fff;
	text-align:center;
	font-size:18px;
	text-transform:uppercase;
	padding-top: 5px;
	font-family:'Arial', sans-serif;
}
.p-bottom span{
	line-height: 50px;
}
.col-p-right{
	float:left;
	padding:30px 25px 0px;
	width:78%;
	color:#4b7de1;
	font-size:16px;
	font-family:'Arial', sans-serif;
}
.col-p-right ul{
	margin:20px 20px 0px;
	padding:0px;
}
.col-p-right ul li{
	padding:10px 0px;
}

/* SERVICE */
.service-wrap{
	padding-top:90px;
	margin-bottom:390px;
}
.service-wrap h2 {
padding: 0px 20px;
}
.s-bg{
	background:url(../images/left-glass-s.png)no-repeat left top;
	overflow:hidden;
	padding-top:30px;
	padding-bottom: 160px;
}
.s-left{
	float:left;
	width:300px;
	position:relative;
	
}
.s-left:before, .s-left:after{
	
}
.s-left ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.s-left ul li{
	
}
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color:#4780d4;
    border-left: 4px solid transparent;
    padding: 4px 20px;
    font-size: 18px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 14px;
	color:#4780d4;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color:#4780d4;                
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #4b7de1; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
 
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;  
margin-left:20px;	
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
.s-right{
	padding:0px 25px;
	width:68.7%;
	float:left;
}
.scroll-content{
	overflow-y:hidden;
	height:600px;
	padding-bottom:30px;
	color:#4780d4;
}
.scroll-content h3{
	text-align:center;
	color:#4780d4;
	font-size:24px;
	text-transform:uppercase;
	margin-bottom:20px;
}
.scroll-content h4{
	color:#4780d4;
	font-size:21px;
	padding-left:20px;
	margin-bottom:20px;
	margin-top:20px;
}
.cat{
	height:200px;
	text-align:center;
}
.cat-box{
	display:inline-block;
	margin:0px 20px;
	width:130px;
	vertical-align:top;
}
.cat-name{
	padding:0px 5px;
}
.cat-name a{
	color:#4780d4;
	font-size:18px;
	font-family:'Arial', sans-serif;
}
/* ABOUT US */
.about-wrap{
	padding-top:90px;
	
}
.about-wrap h2{
	color:#4780d4;
	font-size:30px;
	text-align:center;
	text-transform:uppercase;
	font-family: HelveticaNeueThin;
	margin-bottom:50px;
	position:relative;
	margin-top:30px;
}
.about-wrap h2:before {  
    content: "";  
    display: block;  
    border-top: solid 2px #4780d4;  
    width: 100%;  
    height: 2px;  
    position: absolute;  
    top: 50%;  
    z-index: 1;  
}  
.about-wrap h2 span{
	background:#fff;
	display:inline-block;
	padding: 0 20px;  
    position: relative;  
    z-index: 5; 
}
.a-glass{
	height:390px;
	overflow-y:hidden;
	background:url(../images/about-glass.png)no-repeat;
	margin-bottom:290px;
	box-shadow: 0px 0px 10px rgba(81,88,182,0.5);
	padding:30px;
}
.a-inner{
	height:350px;
	padding-bottom:30px;
}
.a-glass h4{
	color:#4780d4;
	font-size:24px;
	font-family:'Arial', sans-serif;
	margin-bottom:25px;
	padding-left:50px;
}
.a-glass p{
	color:#4780d4;
	font-size:16px;
	font-family:'Arial', sans-serif;
	margin-bottom:25px;
}
.p-carousel{
	background:#e0e8f5;
}
.carousel-item{
	
}
#p-carousel{
	height:auto;
}
#p-carousel .item{
	height:auto;
}
.clients-link{
	float:left;
	width:18.75%;
}
.carousel-wrap{
	float:right;
	width:68%;
}
.c-shadow-block{
	height: 80px;
	background:url(../images/slider-shadow.png)no-repeat center bottom;
	padding-bottom:5px;
	overflow: hidden;
	box-sizing: border-box;
}
.c-block{
	height:60px;
	overflow: hidden;
}
.c-block .clients-link a{line-height:60px;}
.clients-link a{
	color:#4b7de1;
	font-size:30px;
	text-transform:uppercase;
	font-family: HelveticaNeueThin;
	line-height:80px;
}
/* PORTFOLIO */
.port-item{
	/*background:url(../images/portfolio-bg.png)no-repeat;*/
	max-width:270px;
	max-height:270px;
	overflow:hidden;
	position:relative;
	margin-bottom:15px;
	margin-top:15px;
	box-shadow:3px 3px 5px rgba(81,88,182,0.3);
}
.port-image{
	box-shadow:3px 3px 5px rgba(81,88,182,0.5);
	position:relative;
	overflow:hidden;
}
.port-overlay{
	position:absolute;
	height:100%;
	width:100%;
	left:0px;
	top:100%;
	text-align:center;
	font-family:'Arial', sans-serif;
	padding-top:50px;
	background:rgba(255,255,255,0.7);
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.portname{
	min-height:125px;
}
.port-overlay h3{
	color:#497de2;
	font-size:40px;
}
.port-overlay a{
	text-decoration:none;
	font-size:14px;
	color:#497de2;
	margin-bottom:20px;
}
.port-overlay p{
	font-size:18px;
	color:#497de2;
	margin-top:20px;
}
.port-item:hover .port-overlay{
	top:0px;
	
}
.port-item:hover .port-image img.blur{
	filter: blur(3px); 
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px);
	-o-filter: blur(3px); 
	-ms-filter: blur(3px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.bottom{
	height:380px;
	background-image: -moz-linear-gradient(top, #517cbf, #87a5d7);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #517cbf), color-stop(1.0, #87a5d7));
}
.footer{
	overflow:hidden;
}
.f-head{
	border-bottom:2px solid #fafbfd;
	padding-top:30px;
}
.f-head h3{
	font-size:30px;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	margin-bottom:10px;
	font-family: HelveticaNeueThin;
}
.col-c{
	padding-top:20px;
}
.form-c input[type="text"]{
	border:0px;
	display:block;
	height:20px;
	background:#d8e2f1;
	border-radius:0px;
	margin-bottom:5px;
	color:#4881d5;
	padding-left:15px;
	box-shadow:0px 0px 10px rgba(81,88,182,0.5);
	width:240px;
	font-family: HelveticaNeueL;
}
.btn-contact{
	float:right;
	margin-left:15px;
	padding:15px 20px;
	color:#fff;
	text-transform:uppercase;
	font-size:24px;
	width:105px;
	white-space: normal;
	height:70px;
	line-height:20px;
	box-shadow:0px 0px 10px rgba(81,88,182,0.5);
	border-radius:0px;
	background:#537dc0;
	font-family: HelveticaNeueThin;
}
.form-c textarea{
	min-height:120px;
	border:0px;
	background:#d8e2f1;
	border-radius:0px;
	margin-bottom:5px;
	color:#4881d5;
	padding-left:15px;
	box-shadow:0px 0px 10px rgba(81,88,182,0.5);
	width:360px;
	font-family: HelveticaNeueL;
}
.form-c ::-webkit-input-placeholder {
   color:#4881d5;
}

.form-c :-moz-placeholder { /* Firefox 18- */
   color:#4881d5;  
}

.form-c ::-moz-placeholder {  /* Firefox 19+ */
   color:#4881d5; 
}

.form-c :-ms-input-placeholder {  
   color:#4881d5; 
}
.c-address{
	text-align:right;
	padding-top: 45px;
}
.c-address a{
	color:#fff;
	font-size:18px;
	font-family: HelveticaNeueL;
	margin-bottom:10px;
	display: block;
}
.c-address p{
	color:#fff;
	font-size:18px;
	font-family: HelveticaNeueL;
}
.social{
	margin:30px 0px 0px;
	padding:0px;
	list-style:none;
}
.social li{
	display:inline-block;
}
.copy{
	text-align:center;
	color:#fff;
	font-size:12px;
	font-family:'Arial', sans-serif;
	clear:both;
	padding-top:45px;
}
/* ------------------------- Popups */
 
/* ------------------------- Media Queries */
 
/* ---------------------------------------------------------------------------- */
/* MEDIA QUERIES -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
 
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
@media (min-width: 768px){
.navbar-toggle {
display: none;
}

}
@media (min-width: 992px){
.wrap{
	width:768px;
	}
	
}
 @media (min-width: 1200px){
	.wrap{
	width:960px;
	}
	.navbar-collapse.collapse{
		display:block!important;
	}
	
 }
 
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    /* Styles */
 .top{height:auto;}
  .p-wrap{margin-left: 0px;margin-right:0px;}
 .carousel-caption h1{font-size: 60px;}
 .carousel-caption p{font-size: 18px;}
 .wmu-item.left, .wmu-item.right{
		width: 100%;
text-align: center;
background:none;
padding-right: 64px;
margin-bottom: 30px;
	}
	.wmu-iwrap{
		float:none;
		display:inline-block;
	}
.w-text{margin-left:0px;}

 .p-item-block{margin-left:auto;margin-right:auto;float:none;}
 .col-p-left{float:none;margin-left:auto;margin-right:auto;width:210px;}
 .col-p-right{float:none;margin-left:auto;margin-right:auto;}
 .bottom{height:auto;}
 .navbar-header{float:left}
 .s-bg{background:none;}
}

 
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px)
and (max-width : 480px) {
    /* Styles */
	.navbar-header{float:left}
  .top{height:auto;}
  .wrap{width:100%;}
   .p-wrap{margin-left: 0px;margin-right:0px;}
  .wmu-item.left, .wmu-item.right{
		width: 100%;
text-align: center;
background:none;
padding-right: 64px;
margin-bottom: 30px;
	}
	.wmu-iwrap{
		float:none;
		display:inline-block;
	}
.w-text{margin-left: -25px;}
.carousel-caption h1 {font-size: 60px;}
   .carousel-caption p {font-size: 18px;}
    .p-item-block{margin-left:auto;margin-right:auto;float:none;}
	.col-p-left{float:none;margin-left:auto;margin-right:auto;width:210px;}
 .col-p-right{float:none;margin-left:auto;margin-right:auto;}
	.bottom{height:auto;}
	.s-left{float:none;margin-left:auto;margin-right:auto;margin-bottom:20px;}
	.s-bg{background:none;}
}
 
/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 481px)
and (max-width : 768px) {
    /* Styles */
.s-left{float:none;margin-left:auto;margin-right:auto;margin-bottom:20px;}
 .wmu-item.left, .wmu-item.right{
		width: 50%;
text-align: center;
background:none;
padding-right: 164px;
margin-bottom: 30px;
	}
	.wmu-iwrap{
		float:none;
		display:inline-block;
	}
	.col-p-left{float:none;margin-left:auto;margin-right:auto;width:210px;}
 .col-p-right{float:none;margin-left:auto;margin-right:auto;}
.w-text{margin-left:0px;}
.p-wrap{margin-left: 0px;margin-right:0px;}
.carousel-caption h1{font-size: 60px;}
 .carousel-caption p{font-size: 18px;}
 .p-item-block{margin-left:auto;margin-right:auto;float:none;}
 .bottom{height:auto;}
 .s-right{width:100%;}
 .s-bg{background:none;}
}

 
/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 769px) 
and (max-width : 1024px) {
    /* Styles */
 .collapse {
display: none;
}
.navbar-toggle {
display: block;
}
	.navbar-header{float:none;}
	.s-right{width:100%;}
	.s-bg{background:none;}
}
 
/* Larger screens ----------- */
@media only screen 
and (min-width : 1024px) {
    /* Styles */
 	.navbar-header{float:left}
}